.button {
  margin-top: 1.5rem;
  margin-left: 1rem;
  width: 9.375rem;
  font: inherit;
  background-color: transparent;;
  border: 2px solid var(--light-element);
  border-radius: 0.625rem;
  color: var(--light-element);
  padding: 0.3rem 1.3rem 0.3rem 1.3rem;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: var(--dark-element);
  border-color: var(--dark-element);
  color: var(--pink-background);
}

.button:focus {
  outline: none;
}
